openapi: 3.0.3
info:
  title: 'Digital Samba Embedded'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://api.digitalsamba.com'
tags:
  -
    name: 'Default room settings'
    description: "\nConfiguring your room defaults.\n\n<a target=\"_blank\" href=\"https://docs.digitalsamba.com/dashboard/configuring-your-room-defaults\">Documentation</a>"
  -
    name: Rooms
    description: "\n<a target=\"_blank\" href=\"https://docs.digitalsamba.com/dashboard/creating-a-room\">Documentation</a>"
  -
    name: Sessions
    description: "\n<a target=\"_blank\" href=\"https://docs.digitalsamba.com/dashboard/troubleshooting-sessions/session-details\">Documentation</a>"
  -
    name: Participants
    description: "\n<a target=\"_blank\" href=\"https://docs.digitalsamba.com/dashboard/troubleshooting-sessions/participant-details\">Documentation</a>"
  -
    name: 'Phone participants'
    description: ''
  -
    name: Recordings
    description: "\n<a target=\"_blank\" href=\"https://docs.digitalsamba.com/dashboard/creating-a-room/recordings\">Documentation</a>"
  -
    name: Roles
    description: "\n<a target=\"_blank\" href=\"https://docs.digitalsamba.com/dashboard/managing-roles\">Documentation</a>"
  -
    name: Permissions
    description: "\n<a target=\"_blank\" href=\"https://docs.digitalsamba.com/dashboard/adding-moderation-to-your-rooms-with-roles/permissions\">Documentation</a>"
  -
    name: Libraries
    description: "\n<a target=\"_blank\" href=\"https://docs.digitalsamba.com/dashboard/libraries\">Documentation</a>"
  -
    name: Polls
    description: "\n<a target=\"_blank\" href=\"https://docs.digitalsamba.com/dashboard/creating-a-room/polls\">Documentation</a>"
  -
    name: Live
    description: ''
  -
    name: Statistics
    description: "\n<a target=\"_blank\" href=\"https://docs.digitalsamba.com/dashboard/understanding-usage-data\">Documentation</a>"
  -
    name: Transcripts
    description: "\n<a target=\"_blank\" href=\"https://docs.digitalsamba.com/dashboard/creating-a-room/transcription\">Documentation</a>"
  -
    name: Webhooks
    description: "\n<a target=\"_blank\" href=\"https://docs.digitalsamba.com/dashboard/webhooks\">Documentation</a>"
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: "<aside>\nAuthenticate requests by sending an Authorization header in the form <strong><code>\"Bearer {DEVELOPER_KEY}</code></strong>\".\nThe value of <strong><code>{DEVELOPER_KEY}</code></strong> should be your team Developer key which you can find in the Team section of the dashboard.\nAlternatively you can use HTTP Basic authentication with username being your team ID and password being your developer key.\n</aside>\n\n<h1 id=\"iframe-integration\">Iframe integration</h1>\n\n<p>Room url has the following structure</p>\n<ul>\n<li><small class=\"badge badge-green\">Public rooms</small> - <strong>https://{team.domain}.digitalsamba.com/{room.friendly_url}</strong></li>\n<li><small class=\"badge badge-grey\">Private rooms</small> - <strong>https://{team.domain}.digitalsamba.com/{room.friendly_url}?token={jwtToken}</strong></li>\n</ul>\n\n<aside class=\"notice\">{room.friendly_url} can also be replaced by {room.id}.</aside>\n\n<p>To create {jwtToken} you need to generate a JWT token with HS256 algorithm, signed with {team.developer_key} as secret and a payload described below</p>\n<h4 class=\"fancy-heading-panel\"><b>Payload structure</b></h4>\n<p><b><code>td</code></b>&nbsp;&nbsp;<small>string</small>  &nbsp;</p>\n<p>The UUID of the team.</p>\n<p></p>\n<p><b><code>rd</code></b>&nbsp;&nbsp;<small>string</small>  &nbsp;</p>\n<p>The UUID of the room.</p>\n<p></p>\n<p><b><code>ud</code></b>&nbsp;&nbsp;<small>string</small> <i>optional</i> &nbsp;</p>\n<p>External user identifier.</p>\n<p></p>\n<p><b><code>u</code></b>&nbsp;&nbsp;<small>string</small> <i>optional</i> &nbsp;</p>\n<p>User name. If not provided the user will see a screen to input his name.</p>\n<p></p>\n<p><b><code>role</code></b>&nbsp;&nbsp;<small>string</small> <i>optional</i> &nbsp;</p>\n<p>Role id or name. If not provided the default role will be used.</p>\n<p></p>\n<p><b><code>avatar</code></b>&nbsp;&nbsp;<small>string</small> <i>optional</i> &nbsp;</p>\n<p>The url of the user's avatar image. Will be used as image for user's tile when his video is disabled.</p>\n<p></p>\n<p><b><code>iat</code></b>&nbsp;&nbsp;<small>timestamp</small> <i>optional</i> &nbsp;</p>\n<p>Token issued at timestamp</p>\n<p></p>\n<p><b><code>exp</code></b>&nbsp;&nbsp;<small>timestamp</small> <i>optional</i> &nbsp;</p>\n<p>Token expiration timestamp</p>\n<p></p>\n<p><b><code>nbf</code></b>&nbsp;&nbsp;<small>timestamp</small> <i>optional</i> &nbsp;</p>\n<p>Token not valid before timestamp</p>\n<aside class=\"notice\">To embed the room on your page you need to put an iframe with the following attributes:\n<p><b><code>&lt;iframe allow=\"camera; microphone; display-capture; autoplay;\" src=\"{room_url}\" allowfullscreen=\"true\"&gt;&lt;/iframe&gt;</code></b></p>\n</aside>\n"
security:
  -
    default: []
paths:
  /api/v1:
    get:
      summary: 'Get default room settings.'
      operationId: getDefaultRoomSettings
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  id: fc16892a-556b-4c2d-a522-82e6b3e884cc
                  owner_id: 57670ebd-0de2-4f92-8bce-661bec142dde
                  domain: local
                  is_locked: false
                  topbar_enabled: true
                  toolbar_enabled: true
                  toolbar_position: bottom
                  toolbar_color: '#000000'
                  primary_color: '#3771E0'
                  background_color: '#000000'
                  palette_mode: light
                  language: en
                  language_selection_enabled: true
                  audio_on_join_enabled: true
                  video_on_join_enabled: true
                  screenshare_enabled: true
                  participants_list_enabled: true
                  chat_enabled: true
                  private_chat_enabled: true
                  private_group_chat_enabled: false
                  private_group_chat_name: Moderators
                  pin_enabled: true
                  full_screen_enabled: true
                  minimize_own_tile_enabled: true
                  minimize_own_tile_on_join_enabled: false
                  end_session_enabled: true
                  e2ee_enabled: false
                  layout_mode_switch_enabled: true
                  simple_notifications_enabled: true
                  join_screen_enabled: true
                  logo_enabled: false
                  custom_logo: 'https://storage.dev.monza.wbcnf.net/images/fYwFJWsfpfMK2PECyW5JmXapPobecasL2bh3RndH.png'
                  application_logo: 'https://storage.dev.monza.wbcnf.net/images/fMwFJWsfpfDc2PECyW5JmXapPobecasL2bh3RndH.png'
                  favicon: 'https://storage.dev.monza.wbcnf.net/images/wgjrUhRrnkaLAEgrrUMvmhMRKzYUvhvc5pbCjdK1.png'
                  recordings_enabled: true
                  recording_logo_enabled: true
                  virtual_backgrounds_enabled: true
                  raise_hand_enabled: true
                  participant_names_in_recordings_enabled: true
                  hide_tiles_in_recordings_enabled: false
                  invite_participants_enabled: true
                  whiteboard_enabled: true
                  qa_enabled: true
                  files_panel_enabled: true
                  consent_message_enabled: true
                  recording_consent_message_enabled: true
                  consent_message_type: generic
                  consent_message: 'By joining, you consent to the processing of your personal data in accordance with our [link https://www.digitalsamba.com/redirect/privacy-policy]Privacy Policy[/link].'
                  checkbox_message: 'Don’t show this again.'
                  recordings_layout_mode: tiled
                  layout_mode_on_join: tiled
                  content_library_enabled: true
                  library_id: 15bf7fba-7de2-4dbf-877c-62103cc274c4
                  roles:
                    -
                      id: 76bb6199-2900-4b8d-b1bf-351dec4a8db4
                      name: moderator
                      display_name: Moderators
                      allow_private_group_chat: false
                    -
                      id: 768db499-8db4-351d-4b8d-351dec4a8db4
                      name: speaker
                      display_name: Speakers
                      allow_private_group_chat: false
                  default_role:
                    id: 76bb6199-2900-4b8d-b1bf-351dec4a8db4
                    name: moderator
                    display_name: Moderators
                  custom_cname: null
                  captions_enabled: false
                  captions_in_recordings_enabled: false
                  captions_language: en
                  max_participants: 100
                  max_sessions: 5
                  session_length: 90
                  html_title: 'My Title'
                  subscription_start: '2024-04-17 00:00:00'
                  subscription_end: '2024-05-16 23:59:59'
                properties:
                  id:
                    type: string
                    example: fc16892a-556b-4c2d-a522-82e6b3e884cc
                  owner_id:
                    type: string
                    example: 57670ebd-0de2-4f92-8bce-661bec142dde
                  domain:
                    type: string
                    example: local
                  is_locked:
                    type: boolean
                    example: false
                  topbar_enabled:
                    type: boolean
                    example: true
                  toolbar_enabled:
                    type: boolean
                    example: true
                  toolbar_position:
                    type: string
                    example: bottom
                  toolbar_color:
                    type: string
                    example: '#000000'
                  primary_color:
                    type: string
                    example: '#3771E0'
                  background_color:
                    type: string
                    example: '#000000'
                  palette_mode:
                    type: string
                    example: light
                  language:
                    type: string
                    example: en
                  language_selection_enabled:
                    type: boolean
                    example: true
                  audio_on_join_enabled:
                    type: boolean
                    example: true
                  video_on_join_enabled:
                    type: boolean
                    example: true
                  screenshare_enabled:
                    type: boolean
                    example: true
                  participants_list_enabled:
                    type: boolean
                    example: true
                  chat_enabled:
                    type: boolean
                    example: true
                  private_chat_enabled:
                    type: boolean
                    example: true
                  private_group_chat_enabled:
                    type: boolean
                    example: false
                  private_group_chat_name:
                    type: string
                    example: Moderators
                  pin_enabled:
                    type: boolean
                    example: true
                  full_screen_enabled:
                    type: boolean
                    example: true
                  minimize_own_tile_enabled:
                    type: boolean
                    example: true
                  minimize_own_tile_on_join_enabled:
                    type: boolean
                    example: false
                  end_session_enabled:
                    type: boolean
                    example: true
                  e2ee_enabled:
                    type: boolean
                    example: false
                  layout_mode_switch_enabled:
                    type: boolean
                    example: true
                  simple_notifications_enabled:
                    type: boolean
                    example: true
                  join_screen_enabled:
                    type: boolean
                    example: true
                  logo_enabled:
                    type: boolean
                    example: false
                  custom_logo:
                    type: string
                    example: 'https://storage.dev.monza.wbcnf.net/images/fYwFJWsfpfMK2PECyW5JmXapPobecasL2bh3RndH.png'
                  application_logo:
                    type: string
                    example: 'https://storage.dev.monza.wbcnf.net/images/fMwFJWsfpfDc2PECyW5JmXapPobecasL2bh3RndH.png'
                  favicon:
                    type: string
                    example: 'https://storage.dev.monza.wbcnf.net/images/wgjrUhRrnkaLAEgrrUMvmhMRKzYUvhvc5pbCjdK1.png'
                  recordings_enabled:
                    type: boolean
                    example: true
                  recording_logo_enabled:
                    type: boolean
                    example: true
                  virtual_backgrounds_enabled:
                    type: boolean
                    example: true
                  raise_hand_enabled:
                    type: boolean
                    example: true
                  participant_names_in_recordings_enabled:
                    type: boolean
                    example: true
                  hide_tiles_in_recordings_enabled:
                    type: boolean
                    example: false
                  invite_participants_enabled:
                    type: boolean
                    example: true
                  whiteboard_enabled:
                    type: boolean
                    example: true
                  qa_enabled:
                    type: boolean
                    example: true
                  files_panel_enabled:
                    type: boolean
                    example: true
                  consent_message_enabled:
                    type: boolean
                    example: true
                  recording_consent_message_enabled:
                    type: boolean
                    example: true
                  consent_message_type:
                    type: string
                    example: generic
                  consent_message:
                    type: string
                    example: 'By joining, you consent to the processing of your personal data in accordance with our [link https://www.digitalsamba.com/redirect/privacy-policy]Privacy Policy[/link].'
                  checkbox_message:
                    type: string
                    example: 'Don’t show this again.'
                  recordings_layout_mode:
                    type: string
                    example: tiled
                  layout_mode_on_join:
                    type: string
                    example: tiled
                  content_library_enabled:
                    type: boolean
                    example: true
                  library_id:
                    type: string
                    example: 15bf7fba-7de2-4dbf-877c-62103cc274c4
                  roles:
                    type: array
                    example:
                      -
                        id: 76bb6199-2900-4b8d-b1bf-351dec4a8db4
                        name: moderator
                        display_name: Moderators
                        allow_private_group_chat: false
                      -
                        id: 768db499-8db4-351d-4b8d-351dec4a8db4
                        name: speaker
                        display_name: Speakers
                        allow_private_group_chat: false
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 76bb6199-2900-4b8d-b1bf-351dec4a8db4
                        name:
                          type: string
                          example: moderator
                        display_name:
                          type: string
                          example: Moderators
                        allow_private_group_chat:
                          type: boolean
                          example: false
                  default_role:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 76bb6199-2900-4b8d-b1bf-351dec4a8db4
                      name:
                        type: string
                        example: moderator
                      display_name:
                        type: string
                        example: Moderators
                  custom_cname:
                    type: string
                    example: null
                  captions_enabled:
                    type: boolean
                    example: false
                  captions_in_recordings_enabled:
                    type: boolean
                    example: false
                  captions_language:
                    type: string
                    example: en
                  max_participants:
                    type: integer
                    example: 100
                  max_sessions:
                    type: integer
                    example: 5
                  session_length:
                    type: integer
                    example: 90
                  html_title:
                    type: string
                    example: 'My Title'
                  subscription_start:
                    type: string
                    example: '2024-04-17 00:00:00'
                  subscription_end:
                    type: string
                    example: '2024-05-16 23:59:59'
      tags:
        - 'Default room settings'
    patch:
      summary: 'Update default room settings.'
      operationId: updateDefaultRoomSettings
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  id: fc16892a-556b-4c2d-a522-82e6b3e884cc
                  owner_id: 57670ebd-0de2-4f92-8bce-661bec142dde
                  domain: local
                  is_locked: false
                  topbar_enabled: true
                  toolbar_enabled: true
                  toolbar_position: bottom
                  toolbar_color: '#000000'
                  primary_color: '#3771E0'
                  background_color: '#000000'
                  palette_mode: light
                  language: en
                  language_selection_enabled: true
                  audio_on_join_enabled: true
                  video_on_join_enabled: true
                  screenshare_enabled: true
                  participants_list_enabled: true
                  chat_enabled: true
                  private_chat_enabled: true
                  private_group_chat_enabled: false
                  private_group_chat_name: Moderators
                  pin_enabled: true
                  full_screen_enabled: true
                  minimize_own_tile_enabled: true
                  minimize_own_tile_on_join_enabled: false
                  end_session_enabled: true
                  e2ee_enabled: false
                  layout_mode_switch_enabled: true
                  simple_notifications_enabled: true
                  join_screen_enabled: true
                  logo_enabled: false
                  custom_logo: 'https://storage.dev.monza.wbcnf.net/images/fYwFJWsfpfMK2PECyW5JmXapPobecasL2bh3RndH.png'
                  application_logo: 'https://storage.dev.monza.wbcnf.net/images/fMwFJWsfpfDc2PECyW5JmXapPobecasL2bh3RndH.png'
                  favicon: 'https://storage.dev.monza.wbcnf.net/images/wgjrUhRrnkaLAEgrrUMvmhMRKzYUvhvc5pbCjdK1.png'
                  recordings_enabled: true
                  recording_logo_enabled: true
                  virtual_backgrounds_enabled: true
                  raise_hand_enabled: true
                  participant_names_in_recordings_enabled: true
                  hide_tiles_in_recordings_enabled: false
                  invite_participants_enabled: true
                  whiteboard_enabled: true
                  qa_enabled: true
                  files_panel_enabled: true
                  consent_message_enabled: true
                  recording_consent_message_enabled: true
                  consent_message_type: generic
                  consent_message: 'By joining, you consent to the processing of your personal data in accordance with our [link https://www.digitalsamba.com/redirect/privacy-policy]Privacy Policy[/link].'
                  checkbox_message: 'Don’t show this again.'
                  recordings_layout_mode: tiled
                  layout_mode_on_join: tiled
                  content_library_enabled: true
                  library_id: 15bf7fba-7de2-4dbf-877c-62103cc274c4
                  roles:
                    -
                      id: 76bb6199-2900-4b8d-b1bf-351dec4a8db4
                      name: moderator
                      display_name: Moderators
                      allow_private_group_chat: false
                    -
                      id: 768db499-8db4-351d-4b8d-351dec4a8db4
                      name: speaker
                      display_name: Speakers
                      allow_private_group_chat: false
                  default_role:
                    id: 76bb6199-2900-4b8d-b1bf-351dec4a8db4
                    name: moderator
                    display_name: Moderators
                  custom_cname: null
                  captions_enabled: false
                  captions_in_recordings_enabled: false
                  captions_language: en
                  max_participants: 100
                  max_sessions: 5
                  session_length: 90
                  html_title: 'My Title'
                  subscription_start: '2024-04-17 00:00:00'
                  subscription_end: '2024-05-16 23:59:59'
                properties:
                  id:
                    type: string
                    example: fc16892a-556b-4c2d-a522-82e6b3e884cc
                  owner_id:
                    type: string
                    example: 57670ebd-0de2-4f92-8bce-661bec142dde
                  domain:
                    type: string
                    example: local
                  is_locked:
                    type: boolean
                    example: false
                  topbar_enabled:
                    type: boolean
                    example: true
                  toolbar_enabled:
                    type: boolean
                    example: true
                  toolbar_position:
                    type: string
                    example: bottom
                  toolbar_color:
                    type: string
                    example: '#000000'
                  primary_color:
                    type: string
                    example: '#3771E0'
                  background_color:
                    type: string
                    example: '#000000'
                  palette_mode:
                    type: string
                    example: light
                  language:
                    type: string
                    example: en
                  language_selection_enabled:
                    type: boolean
                    example: true
                  audio_on_join_enabled:
                    type: boolean
                    example: true
                  video_on_join_enabled:
                    type: boolean
                    example: true
                  screenshare_enabled:
                    type: boolean
                    example: true
                  participants_list_enabled:
                    type: boolean
                    example: true
                  chat_enabled:
                    type: boolean
                    example: true
                  private_chat_enabled:
                    type: boolean
                    example: true
                  private_group_chat_enabled:
                    type: boolean
                    example: false
                  private_group_chat_name:
                    type: string
                    example: Moderators
                  pin_enabled:
                    type: boolean
                    example: true
                  full_screen_enabled:
                    type: boolean
                    example: true
                  minimize_own_tile_enabled:
                    type: boolean
                    example: true
                  minimize_own_tile_on_join_enabled:
                    type: boolean
                    example: false
                  end_session_enabled:
                    type: boolean
                    example: true
                  e2ee_enabled:
                    type: boolean
                    example: false
                  layout_mode_switch_enabled:
                    type: boolean
                    example: true
                  simple_notifications_enabled:
                    type: boolean
                    example: true
                  join_screen_enabled:
                    type: boolean
                    example: true
                  logo_enabled:
                    type: boolean
                    example: false
                  custom_logo:
                    type: string
                    example: 'https://storage.dev.monza.wbcnf.net/images/fYwFJWsfpfMK2PECyW5JmXapPobecasL2bh3RndH.png'
                  application_logo:
                    type: string
                    example: 'https://storage.dev.monza.wbcnf.net/images/fMwFJWsfpfDc2PECyW5JmXapPobecasL2bh3RndH.png'
                  favicon:
                    type: string
                    example: 'https://storage.dev.monza.wbcnf.net/images/wgjrUhRrnkaLAEgrrUMvmhMRKzYUvhvc5pbCjdK1.png'
                  recordings_enabled:
                    type: boolean
                    example: true
                  recording_logo_enabled:
                    type: boolean
                    example: true
                  virtual_backgrounds_enabled:
                    type: boolean
                    example: true
                  raise_hand_enabled:
                    type: boolean
                    example: true
                  participant_names_in_recordings_enabled:
                    type: boolean
                    example: true
                  hide_tiles_in_recordings_enabled:
                    type: boolean
                    example: false
                  invite_participants_enabled:
                    type: boolean
                    example: true
                  whiteboard_enabled:
                    type: boolean
                    example: true
                  qa_enabled:
                    type: boolean
                    example: true
                  files_panel_enabled:
                    type: boolean
                    example: true
                  consent_message_enabled:
                    type: boolean
                    example: true
                  recording_consent_message_enabled:
                    type: boolean
                    example: true
                  consent_message_type:
                    type: string
                    example: generic
                  consent_message:
                    type: string
                    example: 'By joining, you consent to the processing of your personal data in accordance with our [link https://www.digitalsamba.com/redirect/privacy-policy]Privacy Policy[/link].'
                  checkbox_message:
                    type: string
                    example: 'Don’t show this again.'
                  recordings_layout_mode:
                    type: string
                    example: tiled
                  layout_mode_on_join:
                    type: string
                    example: tiled
                  content_library_enabled:
                    type: boolean
                    example: true
                  library_id:
                    type: string
                    example: 15bf7fba-7de2-4dbf-877c-62103cc274c4
                  roles:
                    type: array
                    example:
                      -
                        id: 76bb6199-2900-4b8d-b1bf-351dec4a8db4
                        name: moderator
                        display_name: Moderators
                        allow_private_group_chat: false
                      -
                        id: 768db499-8db4-351d-4b8d-351dec4a8db4
                        name: speaker
                        display_name: Speakers
                        allow_private_group_chat: false
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 76bb6199-2900-4b8d-b1bf-351dec4a8db4
                        name:
                          type: string
                          example: moderator
                        display_name:
                          type: string
                          example: Moderators
                        allow_private_group_chat:
                          type: boolean
                          example: false
                  default_role:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 76bb6199-2900-4b8d-b1bf-351dec4a8db4
                      name:
                        type: string
                        example: moderator
                      display_name:
                        type: string
                        example: Moderators
                  custom_cname:
                    type: string
                    example: null
                  captions_enabled:
                    type: boolean
                    example: false
                  captions_in_recordings_enabled:
                    type: boolean
                    example: false
                  captions_language:
                    type: string
                    example: en
                  max_participants:
                    type: integer
                    example: 100
                  max_sessions:
                    type: integer
                    example: 5
                  session_length:
                    type: integer
                    example: 90
                  html_title:
                    type: string
                    example: 'My Title'
                  subscription_start:
                    type: string
                    example: '2024-04-17 00:00:00'
                  subscription_end:
                    type: string
                    example: '2024-05-16 23:59:59'
      tags:
        - 'Default room settings'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                domain:
                  type: string
                  description: 'Must contain only letters, numbers, dashes and underscores. Must not be one of docs, api, dev-api, staging-api, you, or dashboard Must be at least 3 characters. Must not be greater than 32 characters.'
                  example: veritatis
                default_role:
                  type: string
                  description: 'Select a role to be assigned to participants who join with no token (shared link to public room) or with a token without a role. Role ID or name.'
                  example: moderator
                roles:
                  type: array
                  description: 'Select a subset of roles for this room. The order in which they’re added will be the order in which they appear in the Participants panel. Must be an array of role IDs or names.'
                  example:
                    - moderator
                  items:
                    type: string
                is_locked:
                  type: boolean
                  description: 'Locked rooms require acceptance to join. Single-role rooms cannot be locked on join.'
                  example: false
                session_length:
                  type: integer
                  description: 'Value in minutes after which sessions should automatically end. Must be at least 1. Must not be greater than 1440. Empty value means Unlimited.'
                  example: 90
                topbar_enabled:
                  type: boolean
                  description: 'Set rooms with or without a top bar.'
                  example: true
                pip_enabled:
                  type: boolean
                  description: 'When enabled, participants will be able to extract the video and audio tiles into a new window, so they can read or watch another application while they still monitor and look at the conference. Picture-in-picture is available only under Chrome desktop browser and not yet available in an embedded (iframe) scenario.'
                  example: true
                toolbar_enabled:
                  type: boolean
                  description: 'Set rooms with or without a toolbar.'
                  example: true
                toolbar_position:
                  type: string
                  description: 'Choose your desired position for the toolbar or desktop devices. Must be one of left, right or bottom.'
                  example: bottom
                toolbar_color:
                  type: string
                  description: 'Select a background colour for the toolbar in rooms. Must be color hex code.'
                  example: '#000000'
                primary_color:
                  type: string
                  description: 'Select a colour for buttons and other interactive elements in rooms. Must be color hex code.'
                  example: '#3771E0'
                background_color:
                  type: string
                  description: 'Select a colour for the background in rooms. Must be color hex code.'
                  example: '#000000'
                palette_mode:
                  type: string
                  description: 'Palette mode (Appearance) will control the background colour of panels, modals and join screen. Must be one of light or dark.'
                  example: light
                language:
                  type: string
                  description: 'Select a default language for the room’s UI. Must be one of ar-SA, en, es-ES, de-DE, it-IT, pt-PT, ro-RO, zh-CN or zh-TW.'
                  example: en
                languages:
                  type: array
                  description: 'Select a subset of languages for participants to be able to choose from. Must be an array of language codes.'
                  example:
                    - en
                    - es-ES
                  items:
                    type: string
                language_selection_enabled:
                  type: boolean
                  description: 'Allow each user to control application UI language on their side.'
                  example: true
                audio_on_join_enabled:
                  type: boolean
                  description: 'When disabled, users will join the session with muted microphones.'
                  example: true
                video_on_join_enabled:
                  type: boolean
                  description: 'When disabled, users will join the session with turned-off cameras.'
                  example: true
                hd_video_on_join_enabled:
                  type: boolean
                  description: "Participants will stream in better quality. This setting requires more uplink bandwidth on the participants' side."
                  example: false
                hd_video_quality:
                  type: string
                  description: 'HD video quality. Must be one of 720_1.5, 720_2.5, 1080_2.5 or 1080_5.5.'
                  example: 720_2.5
                audio_quality:
                  type: string
                  description: 'Audio quality. Must be one of 32, 64, 128 or 256.'
                  example: '32'
                audio_autogain_enabled:
                  type: boolean
                  description: 'Enable audio autogain.'
                  example: true
                audio_noise_suppression_enabled:
                  type: boolean
                  description: 'When enabled, background noise will be reduced, resulting in clearer audio during the session.'
                  example: true
                audio_echo_cancellation_enabled:
                  type: boolean
                  description: 'When enabled, echo and feedback will be eliminated, enhancing the clarity of communication during the session.'
                  example: true
                mute_sound_enabled:
                  type: boolean
                  description: 'When enabled, participants will be able to mute locally the room sound.'
                  example: false
                participants_list_enabled:
                  type: boolean
                  description: 'When enabled, your participants will have access to the Participants panel.'
                  example: true
                pin_enabled:
                  type: boolean
                  description: 'When enabled, participants will have the option to select a participant to enlarge and continuously watch.'
                  example: true
                full_screen_enabled:
                  type: boolean
                  description: 'Allow your participants to expand any participant tile to full screen. Will not work in Auto mode.'
                  example: true
                minimize_own_tile_enabled:
                  type: boolean
                  description: 'Allow your participants to minimise and maximise their own tile when in tiled mode.'
                  example: true
                minimize_own_tile_on_join_enabled:
                  type: boolean
                  description: 'When enabled, participants will join rooms with their own tile minimised.'
                  example: false
                end_session_enabled:
                  type: boolean
                  description: 'When enabled, the "End session" button will be available in the toolbar.'
                  example: true
                leave_session_enabled:
                  type: boolean
                  description: 'When enabled, the "Leave session" button will be available in the toolbar.'
                  example: true
                rejoin_session_enabled:
                  type: boolean
                  description: 'When enabled, a "Rejoin" link will be shown after a user leaves a session. Otherwise only the ''You have left the session'' text will be shown.'
                  example: true
                connection_message_enabled:
                  type: boolean
                  description: 'When enabled, the "Connection message" status notification will be displayed in the session if a weak connection occurs.'
                  example: true
                chat_enabled:
                  type: boolean
                  description: 'Allow participants to post and read in the public chat.'
                  example: true
                private_chat_enabled:
                  type: boolean
                  description: 'Enable posting and reading in one-to-one chats with specific participants.'
                  example: true
                private_group_chat_enabled:
                  type: boolean
                  description: 'Enable posting and reading in private group chats.'
                  example: false
                private_group_chat_name:
                  type: string
                  description: 'Customise your private group chat with a name of your choice to be displayed. Must be at least 3 characters.'
                  example: Presenters
                private_group_chat_roles:
                  type: array
                  description: 'Must be an array of role IDs or names.'
                  example:
                    - moderator
                  items:
                    type: string
                e2ee_enabled:
                  type: boolean
                  description: 'Secure usernames, chat messages, and video / audio streams, including shared screens with encryption keys that only participants in the room have access to.'
                  example: false
                e2ee_badge_enabled:
                  type: boolean
                  description: 'Display an end-to-end encryption status badge in the meeting interface. When disabled, encryption status remains available in Settings.'
                  example: true
                layout_mode_switch_enabled:
                  type: boolean
                  description: 'When disabled, participants will not see the layout mode switcher.'
                  example: true
                simple_notifications_enabled:
                  type: boolean
                  description: 'Send participants non-disruptive notifications to inform them when others join and leave the session.'
                  example: true
                join_screen_enabled:
                  type: boolean
                  description: 'When enabled, users will have the chance to test their speakers, camera and microphone ahead of joining.'
                  example: true
                screenshare_enabled:
                  type: boolean
                  description: 'Allow your participants to share their screen. Mobile users will not be able to share their screen.'
                  example: true
                recordings_enabled:
                  type: boolean
                  description: 'Allow participants to record sessions.'
                  example: true
                recording_autostart_enabled:
                  type: boolean
                  description: 'When enabled, recording will automatically start when the first participant joins.'
                  example: false
                recording_bookmarks_enabled:
                  type: boolean
                  description: 'When When enabled, bookmarks can be added during active recordings to highlight important moments.'
                  example: false
                recording_breakout_autostart_enabled:
                  type: boolean
                  description: 'When enabled, automatically start recording breakout rooms when the first user joins.'
                  example: false
                logo_enabled:
                  type: boolean
                  description: 'When enabled, the logo will be shown in rooms.'
                  example: true
                custom_logo:
                  type: string
                  description: 'You may add a custom logo to be displayed in rooms and its recordings. Image URL or base64 encoded file source.'
                  example: sit
                application_logo:
                  type: string
                  description: 'You may add an application logo to be displayed in rooms join page. Image URL or base64 encoded file source.'
                  example: qui
                favicon:
                  type: string
                  description: 'You may add custom favicon to be displayed in rooms. Image URL or base64 encoded file source.'
                  example: enim
                recording_logo_enabled:
                  type: boolean
                  description: 'When enabled, the logo will be shown in recordings.'
                  example: true
                virtual_backgrounds_enabled:
                  type: boolean
                  description: 'When enabled, participants on desktop devices will be able to appear on virtual backgrounds.'
                  example: true
                raise_hand_enabled:
                  type: boolean
                  description: 'Allow participants to raise hand to take turns to speak without disrupting sessions.'
                  example: true
                participant_names_in_recordings_enabled:
                  type: boolean
                  description: 'When enabled, recordings will include participant name badges on tiles.'
                  example: true
                hide_tiles_in_recordings_enabled:
                  type: boolean
                  description: "When enabled, recordings will only capture participants' audio and shared screens. A blank screen will be recorded if no screen is shared."
                  example: false
                invite_participants_enabled:
                  type: boolean
                  description: 'When enabled, users allowed to ‘Invite participants’ will see an ‘Invite people’ button in the participants panel.'
                  example: true
                whiteboard_enabled:
                  type: boolean
                  description: 'Add a whiteboard to rooms so that participants with the ‘edit whiteboard’ permission are able to open and edit content. Not compatible with E2EE.'
                  example: true
                qa_enabled:
                  type: boolean
                  description: 'Allow participants to post, answer, and moderate questions. Answering and moderating require permission.'
                  example: true
                qa_default_filter:
                  type: string
                  description: 'When enabled, participants will see the Q&A panel open with the selected default filter. Must be one of all, open or answered.'
                  example: all
                upvote_qa_enabled:
                  type: boolean
                  description: 'Upvote Q&A.'
                  example: true
                shared_notes_enabled:
                  type: boolean
                  description: 'When enabled, participants will have access to a shared notes panel where they can collaborate and review notes together during the session.'
                  example: true
                polls_enabled:
                  type: boolean
                  description: 'When enabled, participants with the ‘manage polls’ permission will have the ability to create and launch polls.'
                  example: true
                consent_message_enabled:
                  type: boolean
                  description: 'When enabled, participants will be reminded that by joining, they consent to the processing of their personal data in accordance with your organisation’s Privacy Policy.'
                  example: true
                recording_consent_message_enabled:
                  type: boolean
                  description: "When enabled, participants initiating a recording will be reminded that all participants' consent, including those who join late, can be a legal requirement."
                  example: true
                consent_message_type:
                  type: string
                  description: "Must be in ['generic', 'custom']."
                  example: generic
                consent_message:
                  type: string
                  description: ''
                  example: 'By joining, you consent to the processing of your personal data in accordance with our [link https://www.digitalsamba.com/redirect/privacy-policy]Privacy Policy[/link].'
                checkbox_message:
                  type: string
                  description: "Add a custom message to the ‘don’t show this again' checkbox."
                  example: 'Don’t show this again.'
                recordings_layout_mode:
                  type: string
                  description: "Set the layout mode for recordings. Auto mode highlights the active speaker, open content, or shared screen, ideal for novice users, while Tiled mode offers customisable grid layouts for personalized viewing experiences. Must be in ['auto', 'tiled']."
                  example: tiled
                layout_mode_on_join:
                  type: string
                  description: "Set the layout mode on join: Auto mode highlights the active speaker, open content, or shared screen, ideal for novice users, while Tiled mode offers customisable grid layouts for personalized viewing experiences. Must be in ['auto', 'tiled']."
                  example: tiled
                html_title:
                  type: string
                  description: 'Add a custom title to be displayed on the browser tab, visible as long as the room is not embedded in an iframe. Must be at least 3 characters. Must not be greater than 255 characters.'
                  example: 'My room'
                lobby_message:
                  type: string
                  description: 'Define the text instructions participants see while waiting in the lobby. Must be at least 3 characters. Must not be greater than 1000 characters.'
                  example: 'You are in the session lobby'
                lobby_sound_enabled:
                  type: boolean
                  description: 'When enabled, a sound will play whenever someone enters the lobby. Otherwise, no sound will be played.'
                  example: false
                content_library_enabled:
                  type: boolean
                  description: 'When enabled, the Content Library component will be added to the rooms, allowing participants with permission to present files to open images and slideshows, navigate through slides, and make them visible to everyone in the room.'
                  example: true
                default_content_library:
                  type: string
                  description: "Choose which library tab is selected by default when opening a room. Must be in ['room', 'personal']."
                  example: room
                library_id:
                  type: string
                  description: 'Wire a library to your rooms. The UUID of the content library.'
                  example: 15bf7fba-7de2-4dbf-877c-62103cc274c4
                transcription_enabled:
                  type: boolean
                  description: 'When enabled, the speech of participants in this room will be transcribed into text (incompatible with E2EE).'
                  example: false
                transcription_auto_start_enabled:
                  type: boolean
                  description: 'Transcription will automatically start when the first participant joins.'
                  example: true
                captions_enabled:
                  type: boolean
                  description: 'Allow зarticipants to enable or disable captions on their end.'
                  example: false
                captions_language:
                  type: string
                  description: 'Set the default input language to be transcribed in rooms. Must be en or de.'
                  example: en
                captions_in_recordings_enabled:
                  type: boolean
                  description: 'Display session transcriptions as subtitles in recordings.'
                  example: false
              required:
                - private_group_chat_roles
  '/api/v1/rooms/{room}/chat':
    get:
      summary: 'Get chat messages.'
      operationId: getChatMessages
      description: '<small class="badge badge-blue">Paginated</small>'
      parameters:
        -
          in: query
          name: session_id
          description: 'UUID of the session.'
          example: 16719c1b-cc82-4dfe-9f6f-40d9093fa695
          required: false
          schema:
            type: string
            description: 'UUID of the session.'
            example: 16719c1b-cc82-4dfe-9f6f-40d9093fa695
        -
          in: query
          name: limit
          description: 'Limit the number of returned records. Used for pagination. Maximum and default is 100'
          example: 20
          required: false
          schema:
            type: integer
            description: 'Limit the number of returned records. Used for pagination. Maximum and default is 100'
            example: 20
        -
          in: query
          name: offset
          description: 'The offset of the first item returned in the records collection. Used for pagination.'
          example: 0
          required: false
          schema:
            type: integer
            description: 'The offset of the first item returned in the records collection. Used for pagination.'
            example: 0
        -
          in: query
          name: order
          description: 'Order of returned records. Default is desc.'
          example: asc
          required: false
          schema:
            type: string
            description: 'Order of returned records. Default is desc.'
            example: asc
        -
          in: query
          name: after
          description: 'The UUID of the chat message after which records will be returned.'
          example: null
          required: false
          schema:
            type: string
            description: 'The UUID of the chat message after which records will be returned.'
            example: null
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  total_count: 3
                  data:
                    -
                      id: 3d8a123d-1a65-4b8b-a1d7-cde0578bf928
                      message: 'Morning. How are you?'
                      participant_id: 5e54e7e0-2639-4307-aafa-9eb957e20c2d
                      external_participant_id: '#123'
                      participant_name: 'John Smith'
                      created_at: '2024-02-13T16:45:05.000000Z'
                    -
                      id: 98255fe2-8e3f-4195-9771-8144c484d191
                      message: 'I am fine, thanks! What about you?'
                      participant_id: 685dacb3-5943-4661-a37d-d218586b8b6d
                      external_participant_id: '#456'
                      participant_name: 'Jane Doe'
                      created_at: '2024-02-13T16:45:10.000000Z'
                    -
                      id: 3d8a123d-1a65-4b8b-a1d7-cde0578bf928
                      breakout_id: 79e54583-3aad-4023-a2fa-968125e6c816
                      message: 'In breakout #2'
                      participant_id: 5e54e7e0-2639-4307-aafa-9eb957e20c2d
                      external_participant_id: ABCDEF123
                      participant_name: 'John Smith'
                      created_at: '2024-02-13T16:45:20.000000Z'
                properties:
                  total_count:
                    type: integer
                    example: 3
                  data:
                    type: array
                    example:
                      -
                        id: 3d8a123d-1a65-4b8b-a1d7-cde0578bf928
                        message: 'Morning. How are you?'
                        participant_id: 5e54e7e0-2639-4307-aafa-9eb957e20c2d
                        external_participant_id: '#123'
                        participant_name: 'John Smith'
                        created_at: '2024-02-13T16:45:05.000000Z'
                      -
                        id: 98255fe2-8e3f-4195-9771-8144c484d191
                        message: 'I am fine, thanks! What about you?'
                        participant_id: 685dacb3-5943-4661-a37d-d218586b8b6d
                        external_participant_id: '#456'
                        participant_name: 'Jane Doe'
                        created_at: '2024-02-13T16:45:10.000000Z'
                      -
                        id: 3d8a123d-1a65-4b8b-a1d7-cde0578bf928
                        breakout_id: 79e54583-3aad-4023-a2fa-968125e6c816
                        message: 'In breakout #2'
                        participant_id: 5e54e7e0-2639-4307-aafa-9eb957e20c2d
                        external_participant_id: ABCDEF123
                        participant_name: 'John Smith'
                        created_at: '2024-02-13T16:45:20.000000Z'
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 3d8a123d-1a65-4b8b-a1d7-cde0578bf928
                        message:
                          type: string
                          example: 'Morning. How are you?'
                        participant_id:
                          type: string
                          example: 5e54e7e0-2639-4307-aafa-9eb957e20c2d
                        external_participant_id:
                          type: string
                          example: '#123'
                        participant_name:
                          type: string
                          example: 'John Smith'
                        created_at:
                          type: string
                          example: '2024-02-13T16:45:05.000000Z'
      tags:
        - Rooms
    delete:
      summary: 'Delete chats by room.'
      operationId: deleteChatsByRoom
      description: ''
      parameters: []
      responses:
        204:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Rooms
    parameters:
      -
        in: path
        name: room
        description: 'The UUID of the room or room friendly URL.'
        example: a853d608-e6cf-48eb-a3c9-7d089bbc09b0
        required: true
        schema:
          type: string
  '/api/v1/rooms/{room}/chat/export':
    get:
      summary: 'Export chat messages.'
      operationId: exportChatMessages
      description: ''
      parameters:
        -
          in: query
          name: session_id
          description: 'UUID of the Session.'
          example: 16719c1b-cc82-4dfe-9f6f-40d9093fa695
          required: false
          schema:
            type: string
            description: 'UUID of the Session.'
            example: 16719c1b-cc82-4dfe-9f6f-40d9093fa695
        -
          in: query
          name: format
          description: 'Export format (txt or json).'
          example: txt
          required: false
          schema:
            type: string
            description: 'Export format (txt or json).'
            example: txt
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: 'Text file - Chat messages'
      tags:
        - Rooms
    parameters:
      -
        in: path
        name: room
        description: 'The UUID of the room or room friendly URL.'
        example: a853d608-e6cf-48eb-a3c9-7d089bbc09b0
        required: true
        schema:
          type: string
  '/api/v1/rooms/{room}/questions':
    get:
      summary: 'Get questions and answers.'
      operationId: getQuestionsAndAnswers
      description: '<small class="badge badge-blue">Paginated</small>'
      parameters:
        -
          in: query
          name: session_id
          description: 'UUID of the session.'
          example: 16719c1b-cc82-4dfe-9f6f-40d9093fa695
          required: false
          schema:
            type: string
            description: 'UUID of the session.'
            example: 16719c1b-cc82-4dfe-9f6f-40d9093fa695
        -
          in: query
          name: limit
          description: 'Limit the number of returned records. Used for pagination. Maximum and default is 100'
          example: 20
          required: false
          schema:
            type: integer
            description: 'Limit the number of returned records. Used for pagination. Maximum and default is 100'
            example: 20
        -
          in: query
          name: offset
          description: 'The offset of the first item returned in the records collection. Used for pagination.'
          example: 0
          required: false
          schema:
            type: integer
            description: 'The offset of the first item returned in the records collection. Used for pagination.'
            example: 0
        -
          in: query
          name: order
          description: 'Order of returned records. Default is desc.'
          example: asc
          required: false
          schema:
            type: string
            description: 'Order of returned records. Default is desc.'
            example: asc
        -
          in: query
          name: after
          description: 'The UUID of the question after which records will be returned.'
          example: null
          required: false
          schema:
            type: string
            description: 'The UUID of the question after which records will be returned.'
            example: null
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  total_count: 1
                  data:
                    -
                      id: 3d8a123d-1a65-4b8b-a1d7-cde0578bf928
                      question: 'How tall is the Statue of Liberty?'
                      participant_id: 5e54e7e0-2639-4307-aafa-9eb957e20c2d
                      external_participant_id: '#123'
                      participant_name: 'John Smith'
                      created_at: '2024-02-13T16:45:05.000000Z'
                      answers:
                        -
                          id: 856e86e5-5d97-4a48-978a-6b8afe65f749
                          answer: 'It is 46 metres high.'
                          participant_id: 685dacb3-5943-4661-a37d-d218586b8b6d
                          external_participant_id: '#456'
                          participant_name: 'John Doe'
                          created_at: '2024-02-13T16:45:30.000000Z'
                        -
                          id: 29817328-b632-4741-8ba2-09d393bd2fb0
                          answer: 'Yep, about 46 metres high.'
                          participant_id: d0f509a4-7aee-496a-a331-d44c0df6bdd7
                          external_participant_id: '#789'
                          participant_name: 'Jane Doe'
                          created_at: '2024-02-13T16:45:35.000000Z'
                properties:
                  total_count:
                    type: integer
                    example: 1
                  data:
                    type: array
                    example:
                      -
                        id: 3d8a123d-1a65-4b8b-a1d7-cde0578bf928
                        question: 'How tall is the Statue of Liberty?'
                        participant_id: 5e54e7e0-2639-4307-aafa-9eb957e20c2d
                        external_participant_id: '#123'
                        participant_name: 'John Smith'
                        created_at: '2024-02-13T16:45:05.000000Z'
                        answers:
                          -
                            id: 856e86e5-5d97-4a48-978a-6b8afe65f749
                            answer: 'It is 46 metres high.'
                            participant_id: 685dacb3-5943-4661-a37d-d218586b8b6d
                            external_participant_id: '#456'
                            participant_name: 'John Doe'
                            created_at: '2024-02-13T16:45:30.000000Z'
                          -
                            id: 29817328-b632-4741-8ba2-09d393bd2fb0
                            answer: 'Yep, about 46 metres high.'
                            participant_id: d0f509a4-7aee-496a-a331-d44c0df6bdd7
                            external_participant_id: '#789'
                            participant_name: 'Jane Doe'
                            created_at: '2024-02-13T16:45:35.000000Z'
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 3d8a123d-1a65-4b8b-a1d7-cde0578bf928
                        question:
                          type: string
                          example: 'How tall is the Statue of Liberty?'
                        participant_id:
                          type: string
                          example: 5e54e7e0-2639-4307-aafa-9eb957e20c2d
                        external_participant_id:
                          type: string
                          example: '#123'
                        participant_name:
                          type: string
                          example: 'John Smith'
                        created_at:
                          type: string
                          example: '2024-02-13T16:45:05.000000Z'
                        answers:
                          type: array
                          example:
                            -
                              id: 856e86e5-5d97-4a48-978a-6b8afe65f749
                              answer: 'It is 46 metres high.'
                              participant_id: 685dacb3-5943-4661-a37d-d218586b8b6d
                              external_participant_id: '#456'
                              participant_name: 'John Doe'
                              created_at: '2024-02-13T16:45:30.000000Z'
                            -
                              id: 29817328-b632-4741-8ba2-09d393bd2fb0
                              answer: 'Yep, about 46 metres high.'
                              participant_id: d0f509a4-7aee-496a-a331-d44c0df6bdd7
                              external_participant_id: '#789'
                              participant_name: 'Jane Doe'
                              created_at: '2024-02-13T16:45:35.000000Z'
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                example: 856e86e5-5d97-4a48-978a-6b8afe65f749
                              answer:
                                type: string
                                example: 'It is 46 metres high.'
                              participant_id:
                                type: string
                                example: 685dacb3-5943-4661-a37d-d218586b8b6d
                              external_participant_id:
                                type: string
                                example: '#456'
                              participant_name:
                                type: string
                                example: 'John Doe'
                              created_at:
                                type: string
                                example: '2024-02-13T16:45:30.000000Z'
      tags:
        - Rooms
    delete:
      summary: 'Delete Q&A by room.'
      operationId: deleteQAByRoom
      description: ''
      parameters: []
      responses:
        204:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Rooms
    parameters:
      -
        in: path
        name: room
        description: 'The UUID of the room or room friendly URL.'
        example: a853d608-e6cf-48eb-a3c9-7d089bbc09b0
        required: true
        schema:
          type: string
  '/api/v1/rooms/{room}/questions/export':
    get:
      summary: 'Export questions and answers.'
      operationId: exportQuestionsAndAnswers
      description: ''
      parameters:
        -
          in: query
          name: session_id
          description: 'UUID of the Session.'
          example: 16719c1b-cc82-4dfe-9f6f-40d9093fa695
          required: false
          schema:
            type: string
            description: 'UUID of the Session.'
            example: 16719c1b-cc82-4dfe-9f6f-40d9093fa695
        -
          in: query
          name: format
          description: 'Export format (txt or json).'
          example: txt
          required: false
          schema:
            type: string
            description: 'Export format (txt or json).'
            example: txt
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: 'Text file - Questions and answers'
      tags:
        - Rooms
    parameters:
      -
        in: path
        name: room
        description: 'The UUID of the room or room friendly URL.'
        example: a853d608-e6cf-48eb-a3c9-7d089bbc09b0
        required: true
        schema:
          type: string
  '/api/v1/rooms/{room}/quizzes/export':
    get:
      summary: 'Export quiz results.'
      operationId: exportQuizResults
      description: ''
      parameters: []
      responses:
        404:
          description: ''
          content:
            application/json:
              schema:
                oneOf:
                  -
                    description: ''
                    type: object
                    example:
                      message: 'Not Found'
                      error: not-found
                    properties:
                      message:
                        type: string
                        example: 'Not Found'
                      error:
                        type: string
                        example: not-found
                  -
                    description: ''
                    type: object
                    example:
                      message: 'Not Found'
                      error: not-found
                    properties:
                      message:
                        type: string
                        example: 'Not Found'
                      error:
                        type: string
                        example: not-found
      tags:
        - Rooms
    parameters:
      -
        in: path
        name: room
        description: 'The UUID of the room.'
        example: a853d608-e6cf-48eb-a3c9-7d089bbc09b0
        required: true
        schema:
          type: string
  '/api/v1/rooms/{room}/transcripts':
    get:
      summary: 'Get room transcripts.'
      operationId: getRoomTranscripts
      description: "Closed Captioning.\n\n<small class=\"badge badge-blue\">Paginated</small>"
      parameters:
        -
          in: query
          name: session_id
          description: 'UUID of the session.'
          example: 16719c1b-cc82-4dfe-9f6f-40d9093fa695
          required: false
          schema:
            type: string
            description: 'UUID of the session.'
            example: 16719c1b-cc82-4dfe-9f6f-40d9093fa695
        -
          in: query
          name: limit
          description: 'Limit the number of returned records. Used for pagination. Maximum and default is 100'
          example: 20
          required: false
          schema:
            type: integer
            description: 'Limit the number of returned records. Used for pagination. Maximum and default is 100'
            example: 20
        -
          in: query
          name: offset
          description: 'The offset of the first item returned in the records collection. Used for pagination.'
          example: 0
          required: false
          schema:
            type: integer
            description: 'The offset of the first item returned in the records collection. Used for pagination.'
            example: 0
        -
          in: query
          name: order
          description: 'Order of returned records. Default is desc.'
          example: asc
          required: false
          schema:
            type: string
            description: 'Order of returned records. Default is desc.'
            example: asc
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  total_count: 3
                  data:
                    -
                      participant_id: f06e6600-9424-4dc0-8e7d-a968df2c983d
                      participant_name: 'John Smith'
                      transcript: 'Morning. How are you?'
                      start_time: '2024-04-10T12:18:27Z'
                      end_time: '2024-04-10T12:33:27Z'
                    -
                      participant_id: f06e6600-9424-4dc0-8e7d-a968df2c983d
                      participant_name: 'Jane Doe'
                      transcript: 'I am fine, thanks! What about you?'
                      start_time: '2024-04-10T12:10:27Z'
                      end_time: '2024-04-10T12:31:27Z'
                    -
                      participant_id: f06e6600-9424-4dc0-8e7d-a968df2c983d
                      participant_name: 'John Doe'
                      transcript: 'Hi all!'
                      start_time: '2024-04-10T12:06:27Z'
                      end_time: '2024-04-10T12:33:27Z'
                properties:
                  total_count:
                    type: integer
                    example: 3
                  data:
                    type: array
                    example:
                      -
                        participant_id: f06e6600-9424-4dc0-8e7d-a968df2c983d
                        participant_name: 'John Smith'
                        transcript: 'Morning. How are you?'
                        start_time: '2024-04-10T12:18:27Z'
                        end_time: '2024-04-10T12:33:27Z'
                      -
                        participant_id: f06e6600-9424-4dc0-8e7d-a968df2c983d
                        participant_name: 'Jane Doe'
                        transcript: 'I am fine, thanks! What about you?'
                        start_time: '2024-04-10T12:10:27Z'
                        end_time: '2024-04-10T12:31:27Z'
                      -
                        participant_id: f06e6600-9424-4dc0-8e7d-a968df2c983d
                        participant_name: 'John Doe'
                        transcript: 'Hi all!'
                        start_time: '2024-04-10T12:06:27Z'
                        end_time: '2024-04-10T12:33:27Z'
                    items:
                      type: object
                      properties:
                        participant_id:
                          type: string
                          example: f06e6600-9424-4dc0-8e7d-a968df2c983d
                        participant_name:
                          type: string
                          example: 'John Smith'
                        transcript:
                          type: string
                          example: 'Morning. How are you?'
                        start_time:
                          type: string
                          example: '2024-04-10T12:18:27Z'
                        end_time:
                          type: string
                          example: '2024-04-10T12:33:27Z'
      tags:
        - Rooms
    delete:
      summary: 'Delete transcripts by room.'
      operationId: deleteTranscriptsByRoom
      description: ''
      parameters: []
      responses:
        204:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Rooms
    parameters:
      -
        in: path
        name: room
        description: 'The UUID of the room or room friendly URL.'
        example: a853d608-e6cf-48eb-a3c9-7d089bbc09b0
        required: true
        schema:
          type: string
  '/api/v1/rooms/{room}/transcripts/export':
    get:
      summary: 'Export room transcripts.'
      operationId: exportRoomTranscripts
      description: 'Closed Captioning.'
      parameters:
        -
          in: query
          name: format
          description: 'Export format (txt or json).'
          example: txt
          required: false
          schema:
            type: string
            description: 'Export format (txt or json).'
            example: txt
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: 'Text file - Transcripts'
      tags:
        - Rooms
    parameters:
      -
        in: path
        name: room
        description: 'The UUID of the room or room friendly URL.'
        example: a853d608-e6cf-48eb-a3c9-7d089bbc09b0
        required: true
        schema:
          type: string
  '/api/v1/rooms/{room}/token':
    post:
      summary: 'Create room token.'
      operationId: createRoomToken
      description: '<small class="badge badge-blue">Paginated</small>'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  token: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1ZCI6IkVYVDEyMzQiLCJ1IjoiTW9oYW1tZWQiLCJyZCI6IjIwYjI3OGJkLTYzNTEtM2IyYy05MWQwLWVhOGRhYzJhZTRiZiIsInRkIjoiZGJiNzgwMmMtYWZmMi00Y2M0LWFmODAtMTcxMTIzZGRmNzU3Iiwicm9sZSI6Im1vZGVyYXRvciIsImluaXRpYWxzIjoiSkQiLCJpYXQiOjE3MzM4MDgxMjR9.IBVB_O1uIJmLzrUUje7pMyfWWFVRsq-NSxkDeXIPNI
                  link: 'https://username.digitalsamba.com/myRoom?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1ZCI6IkVYVDEyMzQiLCJ1IjoiTW9oYW1tZWQiLCJyZCI6IjIwYjI3OGJkLTYzNTEtM2IyYy05MWQwLWVhOGRhYzJhZTRiZiIsInRkIjoiZGJiNzgwMmMtYWZmMi00Y2M0LWFmODAtMTcxMTIzZGRmNzU3Iiwicm9sZSI6Im1vZGVyYXRvciIsImluaXRpYWxzIjoiSkQiLCJpYXQiOjE3MzM4MDgxMjR9.IBVB_O1uIJmLzrUUje7pMyfWWFVRsq-NSxkDeXIPNI'
                properties:
                  token:
                    type: string
                    example: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1ZCI6IkVYVDEyMzQiLCJ1IjoiTW9oYW1tZWQiLCJyZCI6IjIwYjI3OGJkLTYzNTEtM2IyYy05MWQwLWVhOGRhYzJhZTRiZiIsInRkIjoiZGJiNzgwMmMtYWZmMi00Y2M0LWFmODAtMTcxMTIzZGRmNzU3Iiwicm9sZSI6Im1vZGVyYXRvciIsImluaXRpYWxzIjoiSkQiLCJpYXQiOjE3MzM4MDgxMjR9.IBVB_O1uIJmLzrUUje7pMyfWWFVRsq-NSxkDeXIPNI
                  link:
                    type: string
                    example: 'https://username.digitalsamba.com/myRoom?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1ZCI6IkVYVDEyMzQiLCJ1IjoiTW9oYW1tZWQiLCJyZCI6IjIwYjI3OGJkLTYzNTEtM2IyYy05MWQwLWVhOGRhYzJhZTRiZiIsInRkIjoiZGJiNzgwMmMtYWZmMi00Y2M0LWFmODAtMTcxMTIzZGRmNzU3Iiwicm9sZSI6Im1vZGVyYXRvciIsImluaXRpYWxzIjoiSkQiLCJpYXQiOjE3MzM4MDgxMjR9.IBVB_O1uIJmLzrUUje7pMyfWWFVRsq-NSxkDeXIPNI'
      tags:
        - Rooms
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                ud:
                  type: string
                  description: 'External user identifier.'
                  example: EXTID123
                  nullable: true
                u:
                  type: string
                  description: 'User name.'
                  example: John
                  nullable: true
                initials:
                  type: string
                  description: 'Custom initials for user tiles.'
                  example: JD
                  nullable: true
                role:
                  type: string
                  description: 'Role ID or name.'
                  example: moderator
                  nullable: true
                breakoutId:
                  type: string
                  description: 'Breakout room id.'
                  example: 16719c1b-cc82-4dfe-9f6f-40d9093fa695
                  nullable: true
                avatar:
                  type: string
                  description: 'The url of the user’s avatar image.'
                  example: null
                  nullable: true
                nbf:
                  type: integer
                  description: 'Not before. Unix timestamp before which token is not valid. You can also use a string date time.'
                  example: 1763723976
                  nullable: true
                exp:
                  type: integer
                  description: 'Token expiration. Unix timestamp after which token is not valid. You can also use number of minutes until token expiration, or a string date time.'
                  example: 1763783000
                  nullable: true
    parameters:
      -
        in: path
        name: room
        description: 'The room.'
        example: '-w'
        required: true
        schema:
          type: string
  '/api/v1/rooms/{room}/summaries':
    delete:
      summary: 'Delete summaries by room.'
      operationId: deleteSummariesByRoom
      description: ''
      parameters: []
      responses:
        204:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Rooms
    parameters:
      -
        in: path
        name: room
        description: 'The UUID of the room or room friendly URL.'
        example: a853d608-e6cf-48eb-a3c9-7d089bbc09b0
        required: true
        schema:
          type: string
  '/api/v1/rooms/{room}/polls':
    delete:
      summary: 'Delete polls by room.'
      operationId: deletePollsByRoom
      description: ''
      parameters: []
      responses:
        204:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Rooms
    get:
      summary: 'Get available polls for the room.'
      operationId: getAvailablePollsForTheRoom
      description: '<small class="badge badge-blue">Paginated</small>'
      parameters:
        -
          in: query
          name: limit
          description: 'Limit the number of returned records. Used for pagination. Maximum and default is 100'
          example: 20
          required: false
          schema:
            type: integer
            description: 'Limit the number of returned records. Used for pagination. Maximum and default is 100'
            example: 20
        -
          in: query
          name: offset
          description: 'The offset of the first item returned in the records collection. Used for pagination.'
          example: 0
          required: false
          schema:
            type: integer
            description: 'The offset of the first item returned in the records collection. Used for pagination.'
            example: 0
        -
          in: query
          name: order
          description: 'Order of returned records. Default is desc.'
          example: asc
          required: false
          schema:
            type: string
            description: 'Order of returned records. Default is desc.'
            example: asc
        -
          in: query
          name: after
          description: 'The UUID of the poll after which records will be returned.'
          example: null
          required: false
          schema:
            type: string
            description: 'The UUID of the poll after which records will be returned.'
            example: null
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      example: cbe49091-3b4d-4c1b-9ea6-bdf6594e799d
                    question:
                      type: string
                      example: 'When will I go on holiday?'
                    status:
                      type: string
                      example: started
                    multiple:
                      type: boolean
                      example: false
                    anonymous:
                      type: boolean
                      example: false
                    created_at:
                      type: string
                      example: '2022-07-28T20:36:04Z'
                example:
                  -
                    id: cbe49091-3b4d-4c1b-9ea6-bdf6594e799d
                    question: 'When will I go on holiday?'
                    status: started
                    multiple: false
                    anonymous: false
                    created_at: '2022-07-28T20:36:04Z'
      tags:
        - Polls
    post:
      summary: 'Create a new poll.'
      operationId: createANewPoll
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  id: cbe49091-3b4d-4c1b-9ea6-bdf6594e799d
                  question: 'When will I go on holiday?'
                  status: started
                  multiple: false
                  anonymous: false
                  options:
                    -
                      id: f06e6600-9424-4dc0-8e7d-a968df2c983d
                      text: 'Next week'
                    -
                      id: f06e6600-9424-4dc0-8e7d-a968df2c983d
                      text: 'Next month'
                    -
                      id: f06e6600-9424-4dc0-8e7d-a968df2c983d
                      text: 'Next year'
                  created_at: '2022-07-28T20:36:04Z'
                properties:
                  id:
                    type: string
                    example: cbe49091-3b4d-4c1b-9ea6-bdf6594e799d
                  question:
                    type: string
                    example: 'When will I go on holiday?'
                  status:
                    type: string
                    example: started
                  multiple:
                    type: boolean
                    example: false
                  anonymous:
                    type: boolean
                    example: false
                  options:
                    type: array
                    example:
                      -
                        id: f06e6600-9424-4dc0-8e7d-a968df2c983d
                        text: 'Next week'
                      -
                        id: f06e6600-9424-4dc0-8e7d-a968df2c983d
                        text: 'Next month'
                      -
                        id: f06e6600-9424-4dc0-8e7d-a968df2c983d
                        text: 'Next year'
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: f06e6600-9424-4dc0-8e7d-a968df2c983d
                        text:
                          type: string
                          example: 'Next week'
                  created_at:
                    type: string
                    example: '2022-07-28T20:36:04Z'
      tags:
        - Polls
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                question:
                  type: string
                  description: 'Must be at least 5 characters.'
                  example: 'When will I go on holiday?'
                anonymous:
                  type: boolean
                  description: ''
                  example: false
                  nullable: true
                type:
                  type: string
                  description: 'Poll type. Must be one of single (Single choice), multiple (Multiple choices) or free (Short answer).'
                  example: single
                  nullable: true
                options:
                  type: object
                  description: 'Must be an array of poll options.'
                  example:
                    -
                      text: 'Next week'
                    -
                      text: 'Next month'
                    -
                      text: 'Next year'
                  properties:
                    id:
                      type: string
                      description: 'Must be a valid UUID.'
                      example: c7685a3c-e5ab-30d5-8add-132c6856c597
                      nullable: true
                    text:
                      type: string
                      description: 'Must be at least 1 character. Must not be greater than 255 characters.'
                      example: yuhlwqnsdyjk
                  required:
                    - text
                  nullable: true
                multiple:
                  type: boolean
                  description: 'Deprecated, use type=multiple instead.'
                  example: true
              required:
                - options
    parameters:
      -
        in: path
        name: room
        description: 'The UUID of the room or room friendly URL.'
        example: a853d608-e6cf-48eb-a3c9-7d089bbc09b0
        required: true
        schema:
          type: string
  '/api/v1/rooms/{room}/recordings':
    delete:
      summary: 'Delete recordings by room.'
      operationId: deleteRecordingsByRoom
      description: ''
      parameters: []
      responses:
        204:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Rooms
    parameters:
      -
        in: path
        name: room
        description: 'The UUID of the room or room friendly URL.'
        example: a853d608-e6cf-48eb-a3c9-7d089bbc09b0
        required: true
        schema:
          type: string
  /api/v1/rooms:
    get:
      summary: 'Get all team rooms.'
      operationId: getAllTeamRooms
      description: '<small class="badge badge-blue">Paginated</small>'
      parameters:
        -
          in: query
          name: limit
          description: 'Limit the number of returned records. Used for pagination. Maximum and default is 100'
          example: 20
          required: false
          schema:
            type: integer
            description: 'Limit the number of returned records. Used for pagination. Maximum and default is 100'
            example: 20
        -
          in: query
          name: offset
          description: 'The offset of the first item returned in the records collection. Used for pagination.'
          example: 0
          required: false
          schema:
            type: integer
            description: 'The offset of the first item returned in the records collection. Used for pagination.'
            example: 0
        -
          in: query
          name: order
          description: 'Order of returned records. Default is desc.'
          example: asc
          required: false
          schema:
            type: string
            description: 'Order of returned records. Default is desc.'
            example: asc
        -
          in: query
          name: after
          description: 'The UUID of the room or room friendly URL after which records will be returned.'
          example: null
          required: false
          schema:
            type: string
            description: 'The UUID of the room or room friendly URL after which records will be returned.'
            example: null
        -
          in: query
          name: tag
          description: 'string|array Filter room by tags.'
          example: 'tag1,tag2,tag3 or tag[]=tag1&tag=tag2&tag[]=tag3'
          required: false
          schema:
            type: string
            description: 'string|array Filter room by tags.'
            example: 'tag1,tag2,tag3 or tag[]=tag1&tag=tag2&tag[]=tag3'
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 7cad1d72-b9b2-3eb5-b75b-a28637e8f483
                      description: 'Sunt fugiat est.'
                      topic: 'Sunt fugiat est.'
                      friendly_url: Hfs4dFa7OyruQT5Ik_E-HxylEtRaIlri
                      privacy: public
                      max_participants: 100
                      max_broadcasters: 100
                      topbar_enabled: true
                      pip_enabled: true
                      toolbar_enabled: true
                      toolbar_position: bottom
                      toolbar_color: '#000000'
                      primary_color: '#3771E0'
                      background_color: '#000000'
                      palette_mode: light
                      language: en
                      languages:
                        - ar-SA
                        - de-DE
                        - en
                        - es-ES
                        - fr-FR
                        - it-IT
                        - ro-RO
                        - pt-PT
                        - zh-CN
                        - zh-TW
                      language_selection_enabled: true
                      audio_on_join_enabled: true
                      video_on_join_enabled: true
                      hd_video_quality: 720_1.5
                      audio_quality: '32'
                      audio_autogain_enabled: true
                      audio_noise_suppression_enabled: true
                      audio_echo_cancellation_enabled: true
                      screenshare_enabled: true
                      participants_list_enabled: true
                      logo_enabled: true
                      virtual_backgrounds_enabled: true
                      raise_hand_enabled: true
                      chat_enabled: true
                      private_chat_enabled: true
                      pin_enabled: true
                      full_screen_enabled: true
                      minimize_own_tile_enabled: true
                      broadcaster_tile_visibility: all
                      end_session_enabled: true
                      leave_session_enabled: true
                      rejoin_session_enabled: true
                      connection_message_enabled: true
                      layout_mode_switch_enabled: true
                      simple_notifications_enabled: true
                      join_screen_enabled: true
                      participant_names_in_recordings_enabled: true
                      invite_participants_enabled: true
                      whiteboard_enabled: true
                      qa_enabled: true
                      upvote_qa_enabled: true
                      shared_notes_enabled: true
                      polls_enabled: true
                      content_library_enabled: true
                      default_content_library: room
                      consent_message_enabled: true
                      recording_consent_message_enabled: true
                      consent_message_type: generic
                      recordings_layout_mode: tiled
                      layout_mode_on_join: tiled
                      room_url: 'https://e851c6fab922a6c29141a5e4e21b840d.digitalsamba.com/Hfs4dFa7OyruQT5Ik_E-HxylEtRaIlri'
                      external_id: EXTID1478743820
                      transcription_auto_start_enabled: true
                      captions_language: en
                      created_at: '2025-12-12T08:20:44Z'
                      updated_at: '2025-12-12T08:20:44Z'
                    -
                      id: 0f5f1c51-4e04-3da7-850d-151f76f1184f
                      description: 'Vel fugiat et earum.'
                      topic: 'Vel fugiat et earum.'
                      friendly_url: AKd4neLm7xbvjVROIQuHdwrPD6cuu1b0
                      privacy: public
                      max_participants: 100
                      max_broadcasters: 100
                      topbar_enabled: true
                      pip_enabled: true
                      toolbar_enabled: true
                      toolbar_position: bottom
                      toolbar_color: '#000000'
                      primary_color: '#3771E0'
                      background_color: '#000000'
                      palette_mode: light
                      language: en
                      languages:
                        - ar-SA
                        - de-DE
                        - en
                        - es-ES
                        - fr-FR
                        - it-IT
                        - ro-RO
                        - pt-PT
                        - zh-CN
                        - zh-TW
                      language_selection_enabled: true
                      audio_on_join_enabled: true
                      video_on_join_enabled: true
                      hd_video_quality: 720_1.5
                      audio_quality: '32'
                      audio_autogain_enabled: true
                      audio_noise_suppression_enabled: true
                      audio_echo_cancellation_enabled: true
                      screenshare_enabled: true
                      participants_list_enabled: true
                      logo_enabled: true
                      virtual_backgrounds_enabled: true
                      raise_hand_enabled: true
                      chat_enabled: true
                      private_chat_enabled: true
                      pin_enabled: true
                      full_screen_enabled: true
                      minimize_own_tile_enabled: true
                      broadcaster_tile_visibility: all
                      end_session_enabled: true
                      leave_session_enabled: true
                      rejoin_session_enabled: true
                      connection_message_enabled: true
                      layout_mode_switch_enabled: true
                      simple_notifications_enabled: true
                      join_screen_enabled: true
                      participant_names_in_recordings_enabled: true
                      invite_participants_enabled: true
                      whiteboard_enabled: true
                      qa_enabled: true
                      upvote_qa_enabled: true
                      shared_notes_enabled: true
                      polls_enabled: true
                      content_library_enabled: true
                      default_content_library: room
                      consent_message_enabled: true
                      recording_consent_message_enabled: true
                      consent_message_type: generic
                      recordings_layout_mode: tiled
                      layout_mode_on_join: tiled
                      room_url: 'https://887faf71ba6c2235b406414c8113d17f.digitalsamba.com/AKd4neLm7xbvjVROIQuHdwrPD6cuu1b0'
                      external_id: EXTID678103252
                      transcription_auto_start_enabled: true
                      captions_language: en
[...]
